<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            h1{
                font-style: italic;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: coral;
            }
            h2{
                color: cornflowerblue;
            }
        </style>
    </head>
    <body>
        <center>
            <h1>JOBS IN INDIA AT NAUKRI.COM</h1>
            <hr>
            <h2>TOP JOB TITLES VACANCIES AT NAUKRI.COM</h2>
            <img src="../static/topjobtitle.png">
        </center>
    </body>
</html>