<html>
    <head>
        <style>
            
        </style>
    <body>
        <form method="POST" action="#">
            <input type="text" name="exp" placeholder="experience: 2.5">
            <input type="text" name="loc" placeholder="location">
            <input type="text" name="sal" placeholder="salary in lpa:e.g 200000">
            <select name="skills">
                <option value="python">Python</option>
            </select>
            <select name="jobtitle">
                <option value="python">Python</option>
            </select>
        </form>
    </body>
</html>